{% extends 'base.html' %}

{% block title %} About {% endblock %} 
{% block body %} 
<!DOCTYPE html>

<head>
    <meta charset ="UTF-8">
    <link rel = "stylesheet" href="./css/stylesheet">

</head>

<body>
    <main>
        <section>
            <h1>About Vertical Tank Maintenance</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit finibus auctor. In ultricies, velit non porta rhoncus, 
                erat nisi pharetra diam, quis elementum lorem nulla a est. Cras eget lorem non tortor rutrum rutrum. Ut leo felis, faucibus sed diam ac, 
                sagittis mollis ante. Phasellus dictum ex nisl, eu luctus sapien malesuada vel. Aenean egestas diam et magna mollis, id facilisis 
                risus ullamcorper. Phasellus lorem magna, elementum sit amet scelerisque at, dictum ut ipsum. Nullam in dui consectetur, ornare erat 
                id, luctus metus. Nulla vel congue arcu, at facilisis ex. Phasellus libero elit, gravida quis aliquam at, venenatis sit amet dolor.
                
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus vitae lobortis mauris, et dapibus 
                nisi. Integer maximus aliquet nisl, at porta augue scelerisque convallis. Sed mi est, egestas a efficitur eget, interdum sit amet elit.
                Curabitur justo elit, condimentum quis congue sed, suscipit non enim. Sed pellentesque gravida ultricies. Vestibulum odio mi, mattis 
                eu accumsan nec, fringilla eu diam. Proin at faucibus felis, quis condimentum est. Sed convallis mi non imperdiet porttitor.
            </p>
        </section>
    </main>
</body> 

{% endblock %} 