{% extends 'base.html' %}

{% block title %} Welcome to the home page {% endblock %}


{% block body %} 

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/stylesheet.css">
</head>

<body>

    <main>
        <section>
            <h2>Welcome to WTM!</h2>
            <img src ="../static/photos/tanks.jpg" width=200px>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit finibus auctor. 
                In ultricies, velit non porta rhoncus, erat nisi pharetra diam, quis elementum lorem nulla 
                a est. Cras eget lorem non tortor rutrum rutrum. Ut leo felis, faucibus sed diam ac, sagittis 
                mollis ante. Phasellus dictum ex nisl, eu luctus sapien malesuada vel. Aenean egestas diam et 
                magna mollis, id facilisis risus ullamcorper. Phasellus lorem magna, elementum sit amet scelerisque 
                at, dictum ut ipsum. Nullam in dui consectetur, ornare erat id, luctus metus. Nulla vel congue arcu, 
                at facilisis ex. Phasellus libero elit, gravida quis aliquam at, venenatis sit amet dolor.


            </p>
        </section>
    </main>
</body>

{% endblock %}